/* Remove background from images */
img {
    background: none !important;
}

/* In case theme wraps images in figures */
.figure, .figure img {
    background: none !important;
}


/* Resize images in grid cards */
.sd-card-img-top {
    max-height: 100px;   /* adjust as needed */
    object-fit: contain; /* keeps aspect ratio */
}